body {
    background-color: bisque;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
}

li {
    font-size: 18px;
}

img {
    display: inline-block;
    margin-left: 0px;
    width: 500px; 
    height: auto;
}

#header {
    color: rgb(58, 33, 3);
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(58, 33, 3);
    text-decoration: none;
}