body {
    background-color: rgb(157, 146, 218);
    color: black;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.recipe {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

a:hover {
    color: bisque;
}